{% extends "base.html" %}
{% block title %}{{ t['dashboard'] }}{% endblock %}
{% block content %}

<h4 class="mb-3">{{ t['dashboard'] }}</h4>
<div class="row">
  {% for nombre, valor in metricas.items() %}
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-header bg-info text-white">{{ nombre }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ valor }}</h4>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
