{% extends "base.html" %}
{% block title %}{{ t['home_title'] }}{% endblock %}
{% block content %}

  <h4>{{ t['welcome'] }}</h4>
  <p>{{ t['role'] }}: <strong>{{ rol }}</strong></p>

  <a href="/activos" class="btn btn-outline-primary w-100 mb-3">{{ t['activos'] }}</a>
  <a href="/usuarios" class="btn btn-outline-primary w-100 mb-3">{{ t['usuarios'] }}</a>
  <a href="/configuracion" class="btn btn-outline-primary w-100 mb-3">{{ t['configuracion'] }}</a>
  <a href="/relaciones" class="btn btn-outline-primary w-100 mb-3">{{ t['relaciones'] }}</a>
  <a href="/reportes" class="btn btn-outline-primary w-100 mb-3">{{ t['reportes'] }}</a>
  <a href="/auditorias" class="btn btn-outline-primary w-100 mb-3">{{ t['auditorias'] }}</a>
  <a href="/integraciones" class="btn btn-outline-primary w-100 mb-3">{{ t['integraciones'] }}</a>
  <a href="/buscar_integraciones" class="btn btn-outline-primary w-100 mb-3">{{ t['buscar_integraciones'] }}</a>
  <a href="/buscar_relaciones" class="btn btn-outline-primary w-100 mb-3">{{ t['buscar_relaciones'] }}</a>
  


  <a href="/agregar" class="btn btn-success">➕ Agregar activo</a>
  <a href="/agregar_relacion" class="btn btn-secondary">🔗 Relacionar CI</a>
  <a href="/validacion_iso" class="btn btn-warning">⚠️ Validación ISO</a>

{% endblock %}
