<!DOCTYPE html>
<html>
  <head>
    <title>Inventario API Docs</title>
    <link rel="stylesheet" href="/flasgger_static/swagger-ui.css">
    <link rel="icon" href="/flasgger_static/favicon-32x32.png" sizes="32x32" />
    <script src="/flasgger_static/swagger-ui-bundle.js"></script>
    <script src="/flasgger_static/swagger-ui-standalone-preset.js"></script>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script>
      SwaggerUIBundle({
        url: "/secure-spec.json",
        dom_id: "#swagger-ui",
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout"
      });
    </script>
  </body>
</html>
